#root {
  max-width: 1280px;
  margin: 0 auto;
  
  text-align: center;
}
/* ================ ESTILOS NAVBAR ========================= */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  color: white;
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style-type: none;
  display: flex;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-links a:hover {
  color: #f1c40f;
}





/*======================= ESTILOS ITEM LIST=========================*/

.item-list {
  padding: 20px;
  background-color: #ececec;
  border-radius: 8px;
  margin: 20px 0;
}

.item-list-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
}
.p{
  color:#e37312
}

/*========================= ESTILOS CARTWIDGET==================*/

.cart-widget {
  position: relative;
  display: inline-block;
}

.cart-widget button {
  background-color: #f39c12;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

.cart-icon {
  width: 30px;  
  height: 30px;
  
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  font-size: 12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
};

/*====================== FOOTER======================*/


.footer {
  color: white;
  padding: 30px 20px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-content {
  margin-top: 180px;/* modifico despues, es solo para vista */
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: #f39c12;
}

.footer-column {
  flex: 1;
  margin-right: 20px;
}

.footer-column h3, .footer-column h4 {
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  margin-bottom: 8px;
}

.footer-column a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.footer-column a:hover {
  text-decoration: underline;
}

.social-links li {
  margin-bottom: 8px;
}

.social-links a {
  color: white;
  font-size: 14px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

.footer-bottom p {
  margin: 0;
  font-size: 12px;
}
